{# wieZijnWij.twig #}
{% extends "layout.twig" %}

{% block title %}Wie zijn wij{% endblock %}

{% block content %}
<h1>Over onze pizzeria</h1>

<p>Welkom bij onze pizzeria!</p>
<p>Wij streven ernaar om elke pizza met liefde en verse ingrediënten te bereiden. 
   Onze missie is een heerlijke maaltijd bezorgen, 
   zodat je thuis kan genieten van echte Italiaanse smaken.
</p>

<h2>Lopende promoties</h2>
<ul>
    <li>Elke vrijdag: 2 pizza’s voor de prijs van 1!</li>
    <li>Gratis dessert bij een bestelling vanaf €30.</li>
</ul>

<h2>Voorwaarden</h2>
<p>We leveren alleen in de gemeenten en postcodes die op de afrekenpagina vermeld staan. Bestellingen dienen minimaal 30 minuten voor levering geplaatst te worden.</p>

<h2>Contact</h2>
<p>Telefoon: 012 345 6789</p>
<p>Email: info@pizzeria.be</p>
{% endblock %}
